body{
    font-family: sans-serif;
}

header {
    background-color: #333;
    padding: 10px 20px;
    text-align: right;
    border-radius: 10px;
    font-size: larger;
}

#elements{
    padding: 15px;
}

.element-links {
    color: azure;
    padding: 10px;
    text-decoration: none;
}

.element-links:hover{
    color: skyblue;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#red_tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}

/* تنسيق النموذج (form) */
form {
    border-radius: 20px;
    padding: 40px;
}

#divo{
    text-align: center;
    padding: 20px;
}


/* تنسيق حقل البحث (input[type="text"]) */
#input_text {
    width: 500px; /* تحديد عرض حقل البحث */
    height: 35px; /* تحديد ارتفاع حقل البحث */
    border-radius: 30px; /* جعل حواف حقل البحث دائرية */
    font-size: 16px; /* تحديد حجم الخط */
    text-align: center;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}
.search-container input[type="text"] {
    width: 300px;
    height: 30px;
    font-size: 16px;
    border-radius: 10px;
    text-align: center;
    
}
.search-container h3 {
    margin-right: 20px;
    font-size: 16px;
    width: 200px;
}

/* تنسيق زر البحث (input[type="submit"]) */
#input_submit {
    margin-top: 10px; /* إضافة هامش للأعلى بين حقل البحث وزر البحث */
    width: 150px; /* تحديد عرض زر البحث */
    height: 40px; /* تحديد ارتفاع زر البحث */
    border-radius: 10px; /* جعل حواف زر البحث دائرية */
    font-size: 16px; /* تحديد حجم الخط */
    background-color: #4285f4; /* تحديد لون خلفية زر البحث */
    color: #fff; /* تحديد لون النص في زر البحث */
    border: none; /* إزالة حدود زر البحث */
    margin: 8px;
}

#input_submit:hover{
    color: #4285f4;
    background-color: #bbd1ed;
}

/* تنسيق زر البحث (input[type="submit"]) */
#i_felling_lucky {
    margin-top: 10px; /* إضافة هامش للأعلى بين حقل البحث وزر البحث */
    width: 150px; /* تحديد عرض زر البحث */
    height: 40px; /* تحديد ارتفاع زر البحث */
    border-radius: 10px; /* جعل حواف زر البحث دائرية */
    font-size: 16px; /* تحديد حجم الخط */
    background-color: rgb(21, 184, 21); /* تحديد لون خلفية زر البحث */
    color: #fff; /* تحديد لون النص في زر البحث */
    border: none; /* إزالة حدود زر البحث */
    margin: 8px;
    
}

#i_felling_lucky:hover{
    color: rgb(21, 181, 21);
    background-color: #dbf4d5;
}


/* تنسيق الصورة */
#google_img {
    width: 400px; /* تحديد عرض الصورة */
    height: auto; /* جعل الارتفاع تلقائيًا مع العرض */
    margin-top: 20px; /* إضافة هامش للأعلى بين زر البحث والصورة */
}

#photo_img {
    width: 140px; /* تحديد عرض الصورة */
    height: auto; /* جعل الارتفاع تلقائيًا مع العرض */
    margin-top: 20px; /* إضافة هامش للأعلى بين زر البحث والصورة */
    margin-right: 8px;
}
